
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-detail-S3V {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #fffbfb;

  .auto-group-c6f5-MgF {
    width: 168.8rem;
    height: 65.56rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-7-4qZ {
      width: 35.6rem;
      height: 30.7rem;
      position: absolute;
      left: 70rem;
      top: 16.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-6-NrF {
      left: 0;
      top: 6rem;
      object-fit: contain;
      vertical-align: top;
      width: 45.1rem;
      height: 25.4rem;
      position: absolute;
    }
    .group-13-ifD {
      height: 11.1rem;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: solid 0.1rem rgba(247, 247, 252, 0.400000006);
      box-sizing: border-box;
      width: 144rem;

      .auto-group-sapt-rmR {
        width: 100%;
        height: 7.8rem;
        position: relative;

        .rectangle-1-Qnw {
          background-color: rgba(255, 251, 251, 0);
          opacity: 0;
          width: 144rem;
          height: 7.1rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .frame-1-8yq {
          align-items: center;
          width: 57.1rem;
          height: 2.2rem;
          position: absolute;
          left: 43.4371rem;
          top: 4.2rem;
          display: flex;
          column-gap: 5rem;

          .group-3-3qu {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .men-Cio {
              text-align: right;
              font-size: 1.8rem;
              line-height: 1.2175;
              flex-shrink: 0;
              margin-right: 1rem;
              font-weight: 400;
              color: #1e1e1e;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .ellipse-4-iBM {
              border-radius: 0.2rem;
              flex-shrink: 0;
              margin-top: 0.2rem;
              width: 0.4rem;
              height: 0.4rem;
              background-color: #872437;
            }
          }
          .group-4-qFy {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .women-bW3 {
              margin-right: 1rem;
              text-align: right;
              font-size: 1.8rem;
              font-weight: 400;
              color: #1e1e1e;
              white-space: nowrap;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .ellipse-4-j6T {
              margin-top: 0.2rem;
              width: 0.4rem;
              height: 0.4rem;
              background-color: #872437;
              border-radius: 0.2rem;
              flex-shrink: 0;
            }
          }
          .group-5-To9 {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .casual-wear-Rzs {
              line-height: 1.2175;
              color: #1e1e1e;
              flex-shrink: 0;
              text-align: right;
              font-size: 1.8rem;
              font-weight: 400;
              margin-right: 1rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .ellipse-4-N9R {
              background-color: #872437;
              border-radius: 0.2rem;
              flex-shrink: 0;
              margin-top: 0.2rem;
              width: 0.4rem;
              height: 0.4rem;
            }
          }
          .clothing-material-hhV {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-15-pn7 {
          left: 125rem;
          top: 2.7917rem;
          display: flex;
          align-items: center;
          width: 8.5rem;
          height: 2.5021rem;
          position: absolute;

          .user-account-people-man-x7d {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.9615rem;
            width: 2.5385rem;
            height: 2.5021rem;
            position: relative;
          }
          .g1265-t1H {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 3rem;
            height: 2.5021rem;
            object-fit: contain;
          }
        }
        .ar-style-pQj {
          position: absolute;
          left: 9.9rem;
          top: 2.3rem;
          line-height: 1.2575;
          color: #882437;
          font-family: Impact, 'Source Sans Pro';
          height: 5.5rem;
          font-size: 4.2968rem;
          font-weight: 400;
          white-space: nowrap;
          width: 14.6rem;
        }
      }
    }
    .african-embroidered-lehenga-set-6NF {
      left: 7rem;
      top: 20.3rem;
      font-size: 3.6rem;
      line-height: 1.2175;
      color: rgba(30, 30, 30, 0.6999999881);
      width: 38.2rem;
      height: 8.8rem;
      position: absolute;
      font-weight: 500;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .n2500-aHR {
      color: #1e1e1e;
      width: 8.7rem;
      height: 3rem;
      position: absolute;
      left: 21.3rem;
      top: 43.4rem;
      font-size: 2.4rem;
      line-height: 1.2190000216;
      font-family: Montserrat, 'Source Sans Pro';
      font-weight: 300;
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .n2500-aHR-sub-0 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2175;
        text-decoration-line: line-through;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .n2500-aHR-sub-1 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .frame-6-cNX {
      position: absolute;
      left: 7rem;
      align-items: center;
      border-radius: 4rem;
      width: 11.3rem;
      height: 5.5rem;
      color: #1e1e1e;
      font-family: Montserrat, 'Source Sans Pro';
      top: 41.6rem;
      font-size: 1.6rem;
      justify-content: center;
      border: solid 0.1rem #1e1e1e;
      box-sizing: border-box;
      overflow: hidden;
      line-height: 1.2175;
      display: flex;
      font-weight: 500;
      white-space: nowrap;
    }
    .group-11-eq1 {
      width: 59.293rem;
      height: 56.16rem;
      cursor: pointer;
      position: absolute;
      left: 77.5rem;
      top: 9.4rem;

      .vector-yMV {
        left: 5.7001rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 47.4rem;
        height: 56.16rem;
        position: absolute;
      }
      .swiftxr-1-Jef {
        background-size: 245.623% 123.551%;
        background-position: -27.1771rem -4.8rem;
        background-image: url('REPLACE_IMAGE:8aceded7de08fab8aa7076ee7770e55cb149ff76');
        width: 37.6rem;
        height: 55.1995rem;
        position: relative;
        left: 10.0001rem;
        top: 0.0431rem;
      }
      .ellipse-5-NuR {
        width: 59.293rem;
        height: 22.5715rem;
        position: absolute;
        left: 0;
        top: 2.0629rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .designed-for-the-queens-and-princesses-of-africa-JYB {
      top: 29.9rem;
      color: #1e1e1e;
      left: 6.8rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      width: 34.7rem;
      height: 3.9rem;
      position: absolute;
    }
    .available-in-different-prints-yPR {
      font-size: 1.6rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 7rem;
      top: 37.3rem;
      color: #1e1e1e;
      width: 22.6rem;
      height: 2rem;
      font-weight: 600;
    }
    .available-in-different-prints-fn3 {
      width: 22.6rem;
      height: 2rem;
      left: 6.8rem;
      font-weight: 600;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 50.8rem;
      font-size: 1.6rem;
      line-height: 1.2175;
      color: #1e1e1e;
    }
    .rectangle-12-ZsR {
      height: 4rem;
      position: absolute;
      left: 6.7rem;
      top: 54.3rem;
      background-color: #25148f;
      width: 8.7rem;
    }
    .rectangle-13-JKD {
      background-color: #882437;
      width: 8.7rem;
      height: 4rem;
      position: absolute;
      left: 17.5rem;
      top: 54.3rem;
    }
    .rectangle-14-e8B {
      position: absolute;
      left: 28.3rem;
      top: 54.3rem;
      background-color: #e9ab26;
      width: 8.7rem;
      height: 4rem;
    }
  }
  .auto-group-zddm-ygF {
    width: 100%;
    row-gap: 1.9rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.04rem 0rem 48rem 0rem;

    .auto-group-gxwj-hMM {
      height: 30.8rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 1.8283rem;
      width: 149.0717rem;

      .vector-pwm {
        left: 0;
        top: 18.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 149.0717rem;
        height: 10.7402rem;
        position: absolute;
      }
      .group-22-Akj {
        width: 130.5rem;
        height: 5.9rem;
        position: absolute;
        left: 6.7rem;
        top: 24.9rem;
        display: flex;
        align-items: center;

        .auto-group-synj-6uH {
          margin-right: 75.6rem;
          width: 43.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .similar-products-rNf {
            position: absolute;
            left: 0;
            font-weight: 700;
            line-height: 1.2175;
            color: #4d4a4a;
            font-family: Montserrat, 'Source Sans Pro';
            width: 41.5rem;
            height: 5.9rem;
            white-space: nowrap;
            top: 0;
            font-size: 4.8rem;
          }
          .line-3-kyq {
            object-fit: contain;
            vertical-align: top;
            width: 10rem;
            height: 0;
            position: absolute;
            left: 33.7rem;
            top: 2.7rem;
          }
        }
        .group-17-u63 {
          align-items: center;
          flex-shrink: 0;
          margin: 1.8rem 0rem 1.6rem 0rem;
          height: calc(100% - 3.4rem);
          display: flex;

          .view-all-2RZ {
            margin-right: 1rem;
            font-weight: 500;
            line-height: 1.2175;
            text-align: right;
            font-size: 2rem;
            color: #4d4a4a;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-16-Mij {
            margin-top: 0.22rem;
            width: 2.1rem;
            height: 1.52rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-131-VK9 {
        width: 14.8rem;
        height: 23.2rem;
        position: absolute;
        left: 83.4rem;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .swiftxr-1-RCo {
          position: relative;
          background-size: 135.135% 110.61%;
          background-position: -2.2rem -1.9999rem;
          background-image: url('REPLACE_IMAGE:53e134a3147d5b793fe2e9239063dab2372cb1f8');
          flex-shrink: 0;
          width: 14.8rem;
          height: 21.2rem;
        }
        .back-vQT {
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.4rem;
          font-size: 1.6rem;
        }
      }
      .frame-132-TQP {
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 14.3rem;
        height: 23.2rem;
        position: absolute;
        left: 99.8rem;

        .swiftxr-1-oDM {
          width: 14.3rem;
          height: 21.2rem;
          position: relative;
          background-size: 139.86% 113.278%;
          background-position: -3.2rem -1.4074rem;
          background-image: url('REPLACE_IMAGE:405e1c7fdd68983a673408ba67984b13d0609954');
          flex-shrink: 0;
        }
        .side-cwV {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
        }
      }
      .frame-133-xEf {
        display: flex;
        flex-direction: column;
        width: 14.7rem;
        height: 23.2rem;
        position: absolute;
        left: 116.2rem;
        top: 0;
        align-items: center;

        .swiftxr-4-raw {
          width: 14.7rem;
          height: 21.2rem;
          position: relative;
          background-size: 148.028% 115.045%;
          background-position: -3.0108rem -0.8713rem;
          background-image: url('REPLACE_IMAGE:f7ac4958563495bd4b05a07417f2bd611cab9a7a');
          flex-shrink: 0;
        }
        .front-xdy {
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2175;
        }
      }
    }
    .auto-group-cdxy-V87 {
      column-gap: 2.4rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0 6.8rem;
      width: calc(100% - 13.6rem);
      height: 42rem;
      display: flex;

      .frame-118-Qks {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:573');
        box-sizing: border-box;
        padding: 2rem 0;
        width: 30.8rem;
        background-repeat: no-repeat;
        flex-shrink: 0;

        .swiftxr-2-xnP {
          background-image: url('REPLACE_IMAGE:4d9e7d2a9f7ac8bd20e4550356f5724f1f9d047a');
          width: 25.9rem;
          height: 38rem;
          position: relative;
          background-size: 135.135% 113.725%;
          background-position: -4.6rem -4.1077rem;
        }
      }
      .frame-117-3Yw {
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:576');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.8rem 6.3rem 1.9rem 6.3rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        .swiftxr-1-Bf9 {
          height: 37.3rem;
          position: relative;
          background-size: 188.748% 111.285%;
          background-position: -5.5094rem -0rem;
          background-image: url('REPLACE_IMAGE:2062852cfdfac68437dd5fa4174b302f288f1519');
          width: 18.2rem;
        }
      }
      .frame-116-5kX {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:582');
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 4.9rem;
        height: 100%;

        .swiftxr-1-EtK {
          height: 37.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 30.8rem;
        }
      }
      .frame-119-Njd {
        background-position: center;
        background-image: url('REPLACE_IMAGE:0:579');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 5.5rem 1.6rem 5.6rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        .swiftxr-2-KPy {
          background-position: -7.4893rem 0.086rem;
          background-image: url('REPLACE_IMAGE:429ba0e14544a21090bcc11a7bb3efa500749e01');
          width: 19.7rem;
          height: 38.8rem;
          position: relative;
          background-size: 165.289% 103.759%;
        }
      }
    }
    .auto-group-u1tq-DVM {
      margin-right: 7.8rem;
      width: 173.3rem;
      height: 151.3rem;
      position: relative;
      flex-shrink: 0;

      .vector-vuZ {
        vertical-align: top;
        width: 63.4982rem;
        height: 63.4982rem;
        position: absolute;
        left: 0;
        top: 54.5509rem;
        object-fit: contain;
      }
      .ellipse-13-51m {
        vertical-align: top;
        width: 58.4rem;
        height: 44.2rem;
        position: absolute;
        left: 0;
        top: 107.1rem;
        object-fit: contain;
      }
      .group-47-oiT {
        top: 15.6rem;
        width: 130.2rem;
        height: 39.7rem;
        position: absolute;
        left: 5.5rem;

        .rectangle-11-YAF {
          position: absolute;
          left: 0;
          top: 0.9rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 130.2rem;
          height: 38.8rem;
        }
        .group-46-FqM {
          height: 33.1rem;
          position: absolute;
          left: 8.1527rem;
          top: 0;
          border-radius: 4rem;
          width: 43.575rem;

          .new-arrival-ymM {
            color: rgba(30, 30, 30, 0.6000000238);
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3.2rem;
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 1.2175;
          }
          .with-our-ar-technology-you-can-view-clothes-in-your-home-in-real-time-before-you-buy-uQ7 {
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 2.4rem;
            max-width: 39.1rem;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2175;
          }
          .frame-5-am9 {
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 300;
            line-height: 1.2175;
            color: #1e1e1e;
            white-space: nowrap;
            width: 13.2rem;
            font-size: 1.6rem;
            border: solid 0.1rem #1e1e1e;
            height: 5rem;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4rem;
          }
        }
        .group-11237-4AX {
          width: 67.725rem;
          height: 30.8rem;
          position: absolute;
          left: 59.0776rem;
          top: 1.2rem;
          display: flex;
          align-items: flex-start;

          .image-8-PCo {
            margin-right: 3.57rem;
            width: 20.16rem;
            height: 26.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-9-vCj {
            flex-shrink: 0;
            margin: 4rem 3.675rem 0rem 0rem;
            width: 20.16rem;
            height: 26.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .image-10-Ez7 {
            width: 20.16rem;
            height: 26.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .footer-yRu {
        width: 126.7rem;
        height: 28.9rem;
        position: absolute;
        left: 6.4rem;
        top: 64.4rem;

        .footer-WRq {
          width: 126.7rem;
          height: 27.5rem;
          position: absolute;
          left: 0;
          top: 1.4rem;

          .auto-group-22gt-FeK {
            margin-bottom: 3.2rem;
            height: 20.3rem;
            display: flex;
            align-items: center;

            .with-our-ar-technology-you-can-view-clothes-in-your-home-in-real-time-before-you-buy-Bns {
              color: rgba(30, 30, 30, 0.6999999881);
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 15.6rem 1.7rem 0rem;
              max-width: 22rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2175;
            }
            .group-54-TkP {
              height: 100%;
              flex-shrink: 0;
              margin-right: 7.9rem;
              width: 14.4rem;

              .quick-link-cNP {
                white-space: nowrap;
                margin-bottom: 2.7rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2175;
                color: #1e1e1e;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .group-53-LZH {
                display: flex;
                flex-direction: column;
                width: 100%;
                row-gap: 2.2rem;

                .men-UfV {
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                }
                .women-pDZ {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .casual-wears-YvF {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .clothing-marterial-Hcw {
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                }
              }
            }
            .group-55-pMy {
              margin: 0rem 12.7rem 4.2rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ar-style-Mco {
                line-height: 1.2175;
                color: #1e1e1e;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.7rem;
                font-size: 2.4rem;
                font-weight: 400;
              }
              .group-53-hAs {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                row-gap: 2.2rem;

                .about-us-Su9 {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .contact-us-ni7 {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .blog-XQo {
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
            .group-56-rxs {
              height: 100%;
              flex-shrink: 0;
              width: 15.3rem;

              .policies-pPu {
                margin-bottom: 2.7rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2175;
                color: #1e1e1e;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-53-xW7 {
                width: 100%;
                row-gap: 2.2rem;
                display: flex;
                flex-direction: column;

                .terms-conditions-ugF {
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
                .delivery-FVD {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .return-Q7D {
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .payment-policy-kRy {
                  color: #1e1e1e;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.2175;
                }
              }
            }
          }
          .line-3-gaX {
            width: 124rem;
            height: 0rem;
            object-fit: contain;
            vertical-align: top;
            margin: 0rem 0rem 2rem 2.7rem;
          }
          .swiftxr-global-design-challenge-all-rights-reserved-RHD {
            white-space: nowrap;
            margin-left: 0.2rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2175;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .ar-style-Xb9 {
          top: 0;
          line-height: 1.2575;
          color: #882437;
          white-space: nowrap;
          width: 14.6rem;
          position: absolute;
          left: 0;
          font-size: 4.2968rem;
          font-weight: 400;
          font-family: Impact, 'Source Sans Pro';
          height: 5.5rem;
        }
      }
      .ellipse-15-3ZV {
        width: 35.6rem;
        height: 30.7rem;
        position: absolute;
        left: 44.2rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .n2500-ZXq {
        height: 2.5rem;
        position: absolute;
        left: 30.1rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.218999958;
        align-items: baseline;
        width: 7rem;
        top: 7.8rem;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .n2500-ZXq-sub-0 {
          font-weight: 400;
          line-height: 1.2175;
          text-decoration-line: line-through;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2rem;
        }
        .n2500-ZXq-sub-1 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
        }
      }
      .n2500-sS3 {
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        width: 7rem;
        left: 62.9rem;
        font-size: 2rem;
        font-family: Montserrat, 'Source Sans Pro';
        line-height: 1.218999958;
        color: #1e1e1e;
        height: 2.5rem;
        position: absolute;
        top: 6.7rem;
        font-weight: 300;

        .n2500-sS3-sub-0 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          text-decoration-line: line-through;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .n2500-sS3-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .n2500-SdZ {
        font-size: 2rem;
        white-space: nowrap;
        position: absolute;
        height: 2.5rem;
        left: 95.7rem;
        top: 6.7rem;
        font-weight: 300;
        line-height: 1.218999958;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        width: 7rem;
        align-items: baseline;
        display: flex;

        .n2500-SdZ-sub-0 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          text-decoration-line: line-through;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .n2500-SdZ-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .n2500-1q5 {
        top: 6.7rem;
        font-weight: 300;
        font-family: Montserrat, 'Source Sans Pro';
        width: 7rem;
        left: 129.2rem;
        font-size: 2rem;
        line-height: 1.218999958;
        color: #1e1e1e;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        height: 2.5rem;
        position: absolute;

        .n2500-1q5-sub-0 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2175;
          text-decoration-line: line-through;
          color: #1e1e1e;
        }
        .n2500-1q5-sub-1 {
          font-weight: 400;
          line-height: 1.2175;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2rem;
        }
      }
      .add-to-cart-a11 {
        width: 8.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        position: absolute;
        left: 7.8rem;
        top: 8.35rem;
        color: #1e1e1e;
      }
      .add-to-cart-sko {
        white-space: nowrap;
        left: 39.7rem;
        top: 8.15rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        width: 8.1rem;
        height: 1.8rem;
        position: absolute;
        font-size: 1.4rem;
      }
      .add-to-cart-PUF {
        font-weight: 400;
        line-height: 1.2175;
        height: 1.8rem;
        font-size: 1.4rem;
        left: 72.5rem;
        top: 8.15rem;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        position: absolute;
      }
      .add-to-cart-VnB {
        color: #1e1e1e;
        white-space: nowrap;
        height: 1.8rem;
        left: 106rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        width: 8.1rem;
        position: absolute;
        top: 8.15rem;
      }
      .multi-color-net-embroidered-lehenga-set-cbu {
        position: absolute;
        font-weight: 500;
        line-height: 1.2175;
        top: 0.2rem;
        font-size: 1.6rem;
        color: rgba(30, 30, 30, 0.6999999881);
        font-family: Montserrat, 'Source Sans Pro';
        width: 23.5rem;
        height: 3.9rem;
        left: 6.8rem;
      }
      .multi-color-net-embroidered-lehenga-set-KFR {
        height: 3.9rem;
        position: absolute;
        top: 0;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        width: 23.5rem;
        left: 39.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(30, 30, 30, 0.6999999881);
      }
      .multi-color-net-embroidered-lehenga-set-owH {
        height: 3.9rem;
        font-weight: 500;
        line-height: 1.2175;
        color: rgba(30, 30, 30, 0.6999999881);
        font-family: Montserrat, 'Source Sans Pro';
        width: 23.5rem;
        left: 71.9rem;
        top: 0;
        font-size: 1.6rem;
        position: absolute;
      }
      .multi-color-net-embroidered-lehenga-set-Kej {
        color: rgba(30, 30, 30, 0.6999999881);
        width: 23.5rem;
        left: 105.4rem;
        top: 0;
        font-size: 1.6rem;
        line-height: 1.2175;
        height: 3.9rem;
        position: absolute;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
}
